/** The overall container for the webpage**/
body {
	background: grey;
	margin: 0;
	padding: 0;
}

/** For the calendar**/
#calendar {
		width: 80%;
		position: fixed;
		top: 10%;
		left: 10%;
}

/** For the background div of the pop up**/
#addEvent{
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%; 
		overflow: auto;
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.4); 
		padding-top: 5%;
}

/** For all main headers **/
h1{
	text-align: center;
}

/** For the cancel button of the pop up **/
.cancel{
	background-color: red;
	color: white;
	position: absolute;
	right: 2%;
	top: 0;
	font-size: 20px;
	font-weight: bold;
}

/** For the form that will hold all event info**/
form.addEventInfo{
	background-color: white;
	margin: 5% auto 5% auto;
	padding: 2% 2%;
	border: 2px solid black;
	width: 60%;
}

/** For the div with all of the form questions in it **/
div.addEventInfo{
	position: relative;
}

/** For the text inputs **/
input{
	width: 100%;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid grey;
	margin-top: 1%;
	margin-bottom: 1%;
}
